/* a {
    text-decoration: underline;
    transition: color ease-in-out 150ms;
}

a:hover {
    color: teal;
} */

.main {
    height: 100vh;
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/minecraft-bg.png");
    background-position: center;
    flex: 1;
}

.form {
    display: flex;
    flex-direction: row-reverse;
}

.loginForm {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 15px;
    max-width: 425px;
    /*   height: 41vh; */
    flex-direction: column;
    background-color: #18181b;
    color: whitesmoke;
    width: 30vw;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.85);
    box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.85);
}

.LoginFormTitle {
    font-size: 25px;
    font-weight: bold;
}

.lilimageloginform {
    width: 250px;
    height: 41vh;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

@media only screen and (max-width: 720px) {
    .lilimageloginform {
        display: none;
    }

    .loginForm {
        border-radius: 15px;
        width: 40vw;
    }
}

@media only screen and (max-width: 350px) {
    .lilimageloginform {
        display: none;
    }

    .loginForm {
        border-radius: 15px;
        width: 90vw;
    }
}


.passwordForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#passswordinput {
    border: 2px solid rgb(57, 56, 56);
    border-radius: 15px;
    padding: 2px;
    padding-left: 4px;
    height: 45px;
}

#passwordinput:focus {
    outline: none;
    border: 2px solid white;
}

/* .otherOptloginspan::after {
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #292929;
  border-radius: 5px;
  top: -12px;
  z-index: 0;
}
 */
.loginbtn {
    border-radius: 15px;
    background-color: #c7c7c6;
    color: black;
    padding: 5px;
    cursor: pointer;
    transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
    margin-bottom: 5px;
    margin-top: 5px;
}

.loginbtn:hover {
    background-color: #4b4b4b;
    color: white;
}