html {
    scroll-snap-type: y proximity;
}

.LandingSection {
    scroll-snap-align: center;
}

.Content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}